body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.one{
  background-color: rgb(26, 26, 26);
  width: 350px;
  height: 600px;
  border-radius: 10px;
}
.two{
  display: flex;
  flex-direction: column;
  text-align: center;
}
img{
   width: 90px;
   height: 90px;
   
   margin-top: 30px;
   border-radius: 50px;
   text-align: center;
}
.words{
   
   text-align: center; 
}
h1{
   font-size: 25px;
   color: aliceblue;
   font-style:bold;
}
p{
  font-size: 16px;
  color: rgb(166, 224, 31);
  font-weight: bolder;
}
.word{
  text-align: center;
  color: rgb(188, 195, 201);
  margin-top: 30px;
  font-size: 14px;
}
.three{
  width: 275px;
  height: 43px;
  background-color: rgb(47, 48, 48);
  margin-left: 38px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction:column;
  cursor:pointer;
  
}
.write{
  color: rgb(199, 201, 202);
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  font-size:medium;
  
}
.hello{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.three:hover{
  background-color: rgb(22, 163, 6);
}

